# # Use the Auth0 provider
# FASTMCP_SERVER_AUTH=fastmcp.server.auth.providers.auth0.Auth0Provider
# # Auth0 configuration and credentials
# FASTMCP_SERVER_AUTH_AUTH0_CONFIG_URL=
# FASTMCP_SERVER_AUTH_AUTH0_CLIENT_ID=
# FASTMCP_SERVER_AUTH_AUTH0_CLIENT_SECRET=
# FASTMCP_SERVER_AUTH_AUTH0_AUDIENCE=
# FASTMCP_SERVER_AUTH_AUTH0_BASE_URL=http://localhost:8000
# FASTMCP_SERVER_AUTH_AUTH0_REQUIRED_SCOPES=openid,email

BASE_URL=http://localhost:8000

# Redis Configuration
REDIS_HOST=localhost

# Production OAuth Storage Keys
JWT_SIGNING_KEY=c876395a7ad0aaca9e9cddc11df191799699322f8131e579f10778c9815b0c27
STORAGE_ENCRYPTION_KEY="TTI5822mL3a_chc-C4NVCIBYpkHGTHN6Lofg1xYhpME="

RATE_LIMIT_RPS=10
RATE_LIMIT_BURST=20

# Authentication: either api key 
CRYPTO_MCP_API_KEY=crypto_sk_Lmx5A6hALLLlDuNEDGYX7wyqFXaH3Kbd
# or privy
FASTMCP_SERVER_AUTH_PRIVY_APP_ID=
FASTMCP_SERVER_AUTH_PRIVY_APP_SECRET=
FASTMCP_SERVER_AUTH_PRIVY_FRONTEND_LOGIN_URL=http://localhost:3000/login

# privy login page
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MCP_AUTH_URL=http://localhost:8000


LOCAL_TEST=false